{{ $taxonomyObject := .Data.Terms }}
{{ $slice := slice }}
<div class="mx-auto text-gray-900 max-w-7xl">
  <nav class="flex gap-6" aria-label="Tabs">
  {{ range $taxonomyObject.Alphabetical }}
    <a href="{{ .Page.RelPermalink }}" class="shrink-0 rounded-lg p-2 text-sm font-medium text-gray-500 hover:bg-gray-50 hover:text-gray-700">
      {{ .Page.LinkTitle }}<sup class="p-2">{{ .Count }}</sup>
    </a>
  {{ end }}
  </nav>

  <div class="px-4 not-prose">
    <div class="grid gap-4 mx-auto mt-12 mb-4 lg:max-w-none md:grid-cols-3">
      {{ range $term, $weightedPages := $taxonomyObject }}
      {{ range $weightedPages }}
        <a href="{{.Permalink}}" class="block">
          <img
            alt=""
            src="https://images.unsplash.com/photo-1588515724527-074a7a56616c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80"
            class="h-56 w-full rounded-bl-3xl rounded-tr-3xl object-cover sm:h-64 lg:h-72"
          />
        <div class="mt-4 sm:flex sm:items-center sm:justify-center sm:gap-4">
            <strong class="font-medium">{{ .LinkTitle }}</strong>
        
            <span class="hidden sm:block sm:h-px sm:w-8 sm:bg-yellow-500"></span>
        
            <p class="mt-0.5 opacity-50 sm:mt-0">{{ .Page.LinkTitle }}</p>
          </div>
        </a>
      {{ end }}
      {{ end }}
    </div>
  </div>
  {{ range $term, $weightedPages := $taxonomyObject }}
  <h2><a href="{{ .Page.RelPermalink }}">{{ .Page.LinkTitle }}</a></h2>
  <ul>
    {{ range $weightedPages }}
      <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
    {{ end }}
  </ul>
  {{ end }}

<hr>
{{ range $taxonomy, $terms := $taxonomyObject }}
{{ $uniquePages := $terms.Uniq }}
{{ range $term, $weightedPages := $uniquePages }}
<li>
  <a href="{{ $weightedPages.Page.RelPermalink }}">{{ $weightedPages.Page.LinkTitle }}</a>
</li>
{{ end }}
{{ end }}
<hr>
{{ range $taxonomy, $terms := $taxonomyObject }}
<li class="-mb-px mr-1">
  <a class="inline-block rounded-t py-2 px-4 font-semibold hover:text-blue-800" href="#" :class="{ 'bg-white text-blue-700 border-l border-t border-r': tab == '{{ $taxonomy }}'}" @click.prevent="tab = (tab === '{{ $taxonomy }}') ? null : '{{ $taxonomy }}'">
    {{ $taxonomy }}
  </a>
</li>
{{ end }}

</div>