@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
  /* Improve Page speed */
  /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
  img {
    content-visibility: auto;
  }
  details > summary {
    list-style: none;
  }
  details > summary::-webkit-details-marker {
    display: none;
  }
  body.overflow {
    overflow: hidden;
  }
  body{
    font-family: Helvetica, sans-serif;
  }
  [x-cloak] { 
    display: none !important;
 }
}

.prose :where(h1):not(:where([class~="not-prose"] *)) {
  color: white !important;
}

.prose :where(h3):not(:where([class~="not-prose"] *)) {
  border-top: 1px solid #024a94;
  border-right: 0 solid #024a94;
  border-bottom: 0 solid #024a94;
  border-left: 0 solid #024a94;
  padding-top: 0.5em;
  color: #024a94;
  font-family: 'Helvetica Light', Arial, sans !important;
  font-weight: 400 !important;
}

@font-face {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('/fonts/Helvetica.woff') format('woff');
}

@font-face {
  font-family: 'Helvetica Oblique';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('/fonts/Helvetica-Oblique.woff') format('woff');
}

@font-face {
  font-family: 'Helvetica Compressed';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('/fonts/helvetica-compressed-5871d14b6903a.woff') format('woff');
}

@font-face {
  font-family: 'Helvetica Rounded Bold';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('/fonts/helvetica-rounded-bold-5871d05ead8de.woff') format('woff');
}
  
@font-face {
  font-family: 'Helvetica Bold';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('/fonts/Helvetica-Bold.woff') format('woff');
}
  
@font-face {
  font-family: 'Helvetica Bold Oblique';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('/fonts/Helvetica-BoldOblique.woff') format('woff');
}

@font-face {
  font-family: 'Helvetica Light';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('/fonts/helvetica-light-587ebe5a59211.woff') format('woff');
}