<footer>
  <footer aria-label="Site Footer" class="bg-gray-100">
    <div class="mx-auto max-w-5xl px-4 py-16 sm:px-6 lg:px-8">
      <div class="flex justify-center text-teal-600">
        Logo
      </div>
  
      <p class="mx-auto mt-6 max-w-md text-center leading-relaxed text-gray-500">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt
        consequuntur amet culpa cum itaque neque.
      </p>
  
      <nav aria-label="Footer Nav" class="mt-12">
        <ul class="flex flex-wrap justify-center gap-6 md:gap-8 lg:gap-12">
          {{- range .Site.Menus.main}}
          <li>
            <a class="text-gray-700 transition hover:text-gray-700/75" href="{{ .URL | absLangURL }}">
              {{ .Pre }}<span>{{ i18n .Identifier | default .Name}}</span>{{ .Post }}
            </a>
          </li>
          {{- end }}
        </ul>
      </nav>
  
      <ul class="mt-6 flex justify-center gap-6 md:gap-8">
        <li>
          &copy; {{ dateFormat "2006" now }} {{ .Site.Title }} d.o.o. - {{ T "rights"}}
        </li>
      </ul>
    </div>
  </footer>
  <div id="btt" class="fixed bottom-0 right-0 m-5 h-10 w-10 bg-black rounded-full text-gray-200 place-items-center grid hover:text-gray-500/75 shadow-md hover:shadow-2xl hidden">
    <a href="#top" title="Back to Top">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="h-5 w-5">
        <path fill="currentColor" d="M214.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-160 160c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 141.2V448c0 17.7 14.3 32 32 32s32-14.3 32-32V141.2L329.4 246.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-160-160z"></path>
      </svg>
    </a>
  </div>
</footer>