<footer class="bg-white">
  <div class="mx-auto max-w-screen-xl space-y-8 px-4 py-16 sm:px-6 lg:space-y-16 lg:px-8">
    <div class="grid grid-cols-1 gap-8 lg:grid-cols-3">
      <div>
        <div class="flex md:flex md:items-center md:gap-1">
          {{ with resources.Get "images/global/logo.jpg" }}
          <img src="{{ .Permalink }}" class="h-9 w-9 group-hover:opacity-50" alt="logo" />
          {{ end }}
          <span class="mt-1 ml-3 text-xl font-black tracking-tight uppercase text-blue-500 group-hover:text-gray-400/60">
            {{ .Site.Title }}
          </span>
        </div>
        <p class="mt-4 max-w-xs text-gray-500">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse non cupiditate quae nam
          molestias.
        </p>
      </div>
      <div class="grid grid-cols-2 gap-8 sm:grid-cols-2 lg:col-span-2 lg:grid-cols-4">
        <div>
          <p class="font-medium text-gray-900">Contact Us</p>
          <address class="mt-6 space-y-4 text-sm not-italic">
            <p>
              {{ site.Data.links.adresa }}
            </p>
            <a class="text-blue-600 hover:text-blue-400 underline" href="mailto:{{ site.Data.links.mail }}">
              {{ site.Data.links.mail }}
            </a><br>
            <a class="text-blue-600 hover:text-blue-400" href="tel:{{ site.Data.links.tel }}">
              {{ site.Data.links.tel }}
            </a>
          </address>
        </div>
        <div>
          <p class="font-medium text-gray-900">Company</p>
          <ul class="mt-6 space-y-4 text-sm">
            {{ range .Site.Menus.company }}
            <li>
              <a class="text-gray-700 transition hover:text-blue-500" href="{{ .URL | absLangURL }}" title="{{ .Title | default .Name }}">
              {{ .Pre }}<span>{{ i18n .Identifier | default .Name}}</span>{{ .Post }}
              </a>
            </li>
            {{ end }}
          </ul>
        </div>
        <div>
          <p class="font-medium text-gray-900">Expertise</p>
          <ul class="mt-6 space-y-4 text-sm">
            {{ range .Site.Menus.main }}
            <li>
              <a class="text-gray-700 transition hover:text-blue-500" href="{{ .URL | absLangURL }}" title="{{ .Title | default .Name }}">
              {{ .Pre }}<span>{{ i18n .Identifier | default .Name}}</span>{{ .Post }}
              </a>
            </li>
            {{ end }}
          </ul>
        </div>
        <div>
          <p class="font-medium text-gray-900">Legal</p>
          <ul class="mt-6 space-y-4 text-sm">
            {{ range .Site.Menus.legal }}
            <li>
              <a class="text-gray-700 transition hover:text-blue-500" href="{{ .URL | absLangURL }}" title="{{ .Title | default .Name }}">
              {{ .Pre }}<span>{{ i18n .Identifier | default .Name}}</span>{{ .Post }}
              </a>
            </li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
    <p class="text-xs text-gray-500">&copy; {{ .Site.Params.copyrightYear }} Neving d.o.o. All rights reserved.</p>
  </div>
  <div x-data="{ show: false }" x-on:scroll.window="show = window.pageYOffset >= 1000" class="fixed bottom-8 right-8">
  <button x-show="show" x-transition x-on:click="window.scrollTo({top: 0, behavior: 'smooth'})" class="shadow-lg bg-white p-2 rounded-full">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
      <path fill="currentColor" d="m11 7.825l-4.9 4.9q-.3.3-.7.288t-.7-.313q-.275-.3-.288-.7t.288-.7l6.6-6.6q.15-.15.325-.212T12 4.425q.2 0 .375.063t.325.212l6.6 6.6q.275.275.275.688t-.275.712q-.3.3-.713.3t-.712-.3L13 7.825V19q0 .425-.288.713T12 20q-.425 0-.713-.288T11 19V7.825Z"/>
    </svg>
  </button>
</div>
</footer>