<div class="top-0 z-50 w-full border-2 border-b-stone">
  <div x-data="{ open: false }" class="flex flex-col mx-auto max-w-screen-xl px-4 sm:px-6 md:items-center md:justify-between md:flex-row md:px-6 lg:px-8">
    <div class="flex flex-row items-center justify-between p-4">
      <a href="/" class="flex transition duration-1000 ease-in-out group">
        <img src="/images/logo.jpg" class="transition-opacity h-9 w-9 group-hover:opacity-50 group-focus:opacity-70" alt="{{ .Site.Title }} Logo" />
        <div class="mt-1 ml-3 text-xl font-black tracking-tight uppercase transition-colors group-hover:text-gray-400/60">
          {{ .Site.Title }}
        </div>
      </a>
      <button class="rounded-lg md:hidden focus:outline-none focus:shadow-outline" @click="open = !open" role="navigation" aria-expanded="false" aria-label="Main" aria-controls="menuItems">
        <svg fill="currentColor" viewBox="0 0 20 20" class="w-6 h-6">
          <path x-show="!open" fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z" clip-rule="evenodd"></path>
          <path x-show="open" fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
        </svg>
      </button>
    </div>
    <nav class="hidden pb-4 md:pb-0 md:flex md:justify-end md:flex-row md:items-center md:gap-12">
      {{ range site.Menus.main }}
      <ul class="flex items-center gap-6 text-base font-medium leading-6 text-black">
      <a class="hover:text-gray-500/75 relative font-medium text-black before:absolute before:-bottom-1 before:h-0.5 before:w-full before:origin-left before:scale-x-0 before:bg-gradient-to-r from-indigo-300 to-indigo-600 before:transition hover:before:scale-100 {{ if or ($.IsMenuCurrent "main" . ) ($.HasMenuCurrent "main" .)}} text-gray-500/75{{ end }}"
        href="{{ .URL | absLangURL }}" title="{{ .Title | default .Name }}">
        {{ .Name }}
      </a>
      </ul>
      {{ end }}
      <button type="button" class="text-gray-500 max-w-5 xs:hidden">
          {{ if .Site.IsMultiLingual }}
            {{ range .Site.Languages }}
              {{ if eq . $.Site.Language }}
                <a href="#" class="hidden capitalize">{{ .LanguageCode }}</a>
              {{ else }}
                {{ range $.Translations }}
                <a href="{{ .Permalink }}" class="capitalize text-transparent bg-clip-text bg-gradient-to-r from-indigo-300 to-indigo-600">{{ .Language.LanguageCode }}</a>
                {{ end }}
              {{ end }}
            {{ end }}
          {{ end }}
      </button>
    </nav>
    <aside x-show="open" @click.outside="open = false" class="overflow-y-auto bg-gray-900">
      <div class="flex flex-col justify-center">
        <nav class="text-white text-4xl font-extrabold divide-y">
          {{ range site.Menus.main}}
            <a class="block relative p-6 hover:bg-gradient-to-r from-purple-400 to-pink-600 hover:transition-width hover:duration-900 ease-out hover:ease-in hover:w-full {{ if or ($.IsMenuCurrent "main" . ) ($.HasMenuCurrent "main" .)}}bg-gradient-to-r from-purple-400 to-pink-600{{ end }}" href="{{ .URL | absLangURL }}">
              {{ .Pre }}<span>{{ i18n .Identifier | default .Name}}</span>{{ .Post }}
            </a>
          {{ end }}
        </nav>
      </div>
    </aside>
  </div>
</div>